
# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# package lock
package-lock.json

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env